<div [class.game-list]="!isScreenSmall()" [class.game-list-small]="isScreenSmall()">
  <div class="loading-games" *ngIf="Loading">
    <div class="spinner">
      <mat-spinner mode="indeterminate"></mat-spinner>
    </div>
    <div>
      <h3>Loading Games...</h3>
    </div>
  </div>
  <div id="infiniteScroll" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollDisabled]="DisableInfiniteScroll" scrollWindow="false" infiniteScrollContainer=".mat-sidenav-content" fromRoot="true" (scrolled)="LoadMoreGames()">
    <div *ngFor="let game of Games">
      <poker-game [game]="game"></poker-game>
    </div>
    <div class="loading-games" *ngIf="ShowLoadingMore">
      <div class="spinner">
        <mat-spinner mode="indeterminate"></mat-spinner>
      </div>
      <div>
        <h3>Loading Games...</h3>
      </div>
    </div>
  </div>
</div>
