.loading-games {
  text-align: center;
  margin: auto;
  width: 130px;
  padding-top: 30px;
}

.spinner {
  margin: 0;
  padding-left: 15px;
  padding-bottom: 15px;
}

.game-list {
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
  width: 620px;
  max-width: 100%;
}

.game-list-small {
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  width: 620px;
  max-width: 100%;
}
