<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICommandService" sendTimeout="1:00:00" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://SET-VIA-COMMAND-LINE-ARG" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_ICommandService" contract="PokerLeagueManager.Common.Infrastructure.ICommandService"
          name="BasicHttpBinding_ICommandService" />
    </client>
  </system.serviceModel>
</configuration>