<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" opened="true" class="docs-component-viewer-sidenav">
    <nav>
      <ul>
        <li>
            <a mat-button routerLink="/" aria-label="Poker League Manager">
              <img class="poker-logo"
                      src="../../assets/poker-cards-icon.jpg"
                      alt="Poker League Manager">
              <span>Poker League Manager</span>
            </a>
        </li>
        <li><a routerLink="Home" routerLinkActive="docs-component-viewer-sidenav-item-selected">Home</a></li>
        <li><a routerLink="Games" routerLinkActive="docs-component-viewer-sidenav-item-selected">Games</a></li>
        <li><a routerLink="Stats" routerLinkActive="docs-component-viewer-sidenav-item-selected">Stats</a></li>
        <li><a routerLink="POTY" routerLinkActive="docs-component-viewer-sidenav-item-selected">POTY</a></li>
        <li><a routerLink="Media" routerLinkActive="docs-component-viewer-sidenav-item-selected">Media</a></li>
        <li><a routerLink="Rules" routerLinkActive="docs-component-viewer-sidenav-item-selected">Rules</a></li>
      </ul>
    </nav>
  </mat-sidenav>
    <h1>Content goes here</h1>
    <router-outlet></router-outlet>
</mat-sidenav-container>


