.game {
    //width: 1000px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 1000px;
    max-width: 100%;
}

// .mat-column-Placing {
//     //width: 500px;
//     flex: 0 0 50px;
// }

// .mat-column-PlayerName {
//     flex: 0 0 300px;
// }

// .mat-column-Winnings {
//     flex: 0 0 100px;
// }

// .mat-column-PayIn {
//     flex: 0 0 100px;
// }