<mat-expansion-panel (opened)="GameClicked()" class="game">
    <mat-expansion-panel-header>
        <mat-panel-title>
        {{ game.GameDate | date:'longDate' }}
        </mat-panel-title>
        <mat-panel-description>
        Winner: {{ game.Winner }} Winnings: {{ game.Winnings }}
        </mat-panel-description>
    </mat-expansion-panel-header>

    <table>
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Winnings</th>
                <th>Pay In</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let player of Players">
                <td>{{ player.Placing }}</td>
                <td>{{ player.PlayerName }}</td>
                <td>{{ player.Winnings | currency }}</td>
                <td>{{ player.PayIn | currency }}</td>
            </tr>
        </tbody>
    </table>
</mat-expansion-panel>