<div class="panel panel-info container">
    <div class="panel-heading clickable row vertical-align" ng-click="vm.gameClicked()">
        <div class="col-sm-8 col-md-8 col-lg-8">
            <h1>{{ vm.game.GameDate | date:'longDate' }}</h1>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div>Winner: {{ vm.game.Winner }}</div>
            <div>Winnings: {{ vm.game.Winnings }}</div>
        </div>
    </div>
    <div class="panel-body row" ng-show="vm.Expanded">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Place</th>
                    <th>Name</th>
                    <th>Winnings</th>
                    <th>Pay In</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="player in vm.Players | orderBy:'+Placing'">
                    <td>{{ player.Placing }}</td>
                    <td>{{ player.PlayerName }}</td>
                    <td>{{ player.Winnings | currency }}</td>
                    <td>{{ player.PayIn | currency }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
