<div class="create-game">
  <!--<mat-form-field>
    <mat-label>Game Date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="GameDate" (dateChange)="gameDateChanged($event)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <button mat-fab color="primary" (click)="addPlayer()" class="add-player" *ngIf="showAddPlayerButton()">
    <mat-icon>person_add</mat-icon>
  </button>-->
  
  <div>
    <mat-form-field>
      <input matInput placeholder="Player" [matAutocomplete]="auto" [(ngModel)]="NewPlayer"
        (ngModelChange)="filterPlayers()">
    </mat-form-field>

    <mat-autocomplete #auto="matAutocomplete">
      <ngx-simplebar>
        <mat-option *ngFor="let player of AutoCompletePlayers | async" [value]="player.PlayerName">
          {{player.PlayerName}}
        </mat-option>
      </ngx-simplebar>
    </mat-autocomplete>
  </div>
</div>