.loading-games {
    text-align: center;
    margin: auto;
    width: 130px;
    padding-top: 30px;
}

.spinner {
    margin: 0;
    padding-left: 15px;
    padding-bottom: 15px;
}

.game-list {
    float: left;
    padding-left: 40px;
}
