.game {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mat-column-Placing {
  min-width: 20px;
  flex-grow: 0;
  padding-right: 30px;
}

.mat-column-PlayerName {
  padding-right: 30px;
  max-width: 300px;
  flex-grow: 1;
}

.mat-column-Winnings {
  padding-right: 30px;
  min-width: 70px;
  flex-grow: 0;
}

.mat-column-PayIn {
  min-width: 70px;
  flex-grow: 0;
}
