.game {
  margin-top: 10px;
  margin-bottom: 10px;

  mat-panel-description {
    display: block;
    text-align: right;
  }
}

.mat-column-Placing {
  width: 20px;
  padding-right: 30px;
}

.mat-column-PlayerName {
  padding-right: 30px;
  max-width: 300px;
}

.mat-column-Winnings {
  padding-right: 30px;
  width: 70px;
}

.mat-column-PayIn {
  width: 70px;
}
