.game {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mat-column-Placing {
  max-width: 20px;
  padding-right: 30px;
}

.mat-column-PlayerName {
  padding-right: 30px;
  max-width: 300px;
}

.mat-column-Winnings {
  padding-right: 30px;
  max-width: 70px;
}

.mat-column-PayIn {
  max-width: 70px;
}
