.game {
  margin-top: 10px;
  margin-bottom: 10px;

  mat-panel-title {
    display: block;
  }
}

.mat-column-Placing {
  min-width: 20px;
  flex-grow: 0;
  padding-right: 30px;
}

.mat-column-PlayerName {
  padding-right: 30px;
  flex-grow: 1;
}

.mat-column-Winnings {
  padding-right: 30px;
  min-width: 40px;
  flex-grow: 0;
}

.mat-column-PayIn {
  min-width: 35px;
  flex-grow: 0;
}

.game-small .mat-row {
  padding-left: 10px;
  padding-right: 10px;
}

.game-small .mat-header-row {
  padding-left: 10px;
  padding-right: 10px;
}

/deep/ .game-small .mat-expansion-panel-body {
  margin-left: 10px;
  margin-right: 10px;
}

.game-small .mat-column-Placing {
  padding-right: 10px;
}

.game-small .mat-column-PlayerName {
  padding-right: 10px;
}

.game-small .mat-column-Winnings {
  padding-right: 10px;
}
