<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IQueryService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1766/QueryService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQueryService" contract="QueryServiceReference.IQueryService"
                name="BasicHttpBinding_IQueryService" />
        </client>
    </system.serviceModel>
</configuration>