<nav class="poker-navbar">
  <a mat-button class="poker-button" routerLink="/" aria-label="Poker League Manager">
    <img class="poker-logo"
          src="../../assets/poker-cards-icon.jpg"
          alt="Poker League Manager">
    <span>Poker League Manager</span>
  </a>
  <a mat-button class="poker-button" routerLink="Home">Home</a>
  <a mat-button class="poker-button" routerLink="Games">Games</a>
  <a mat-button class="poker-button" routerLink="Stats">Stats</a>
  <a mat-button class="poker-button" routerLink="POTY">POTY</a>
  <a mat-button class="poker-button" routerLink="Media">Media</a>
  <a mat-button class="poker-button" routerLink="Rules">Rules</a>
  <div class="flex-spacer"></div>
  <a mat-button class="poker-button" routerLink="SignIn">Sign In</a>
</nav>