<mat-sidenav-container fullscreen>
  <mat-sidenav #sideNav [opened]="!isScreenMedium()" [mode]="sideNavMode()" class="poker-sidenav">
    <nav>
      <ul>
        <li>
          <a mat-button routerLink="/">
            <img class="poker-logo" src="../../assets/poker-league-manager-2.png">
          </a>
        </li>
        <li><a mat-button routerLink="Home" routerLinkActive="poker-sidenav-selected"><mat-icon>home</mat-icon>Home</a></li>
        <li><a mat-button routerLink="Games" routerLinkActive="poker-sidenav-selected"><mat-icon>star_border</mat-icon>Games</a></li>
        <li><a mat-button routerLink="Stats" routerLinkActive="poker-sidenav-selected"><mat-icon>trending_up</mat-icon>Stats</a></li>
        <li><a mat-button routerLink="POTY" routerLinkActive="poker-sidenav-selected"><mat-icon>person</mat-icon>POTY</a></li>
        <li><a mat-button routerLink="Media" routerLinkActive="poker-sidenav-selected"><mat-icon>movie</mat-icon>Media</a></li>
        <li><a mat-button routerLink="Rules" routerLinkActive="poker-sidenav-selected"><mat-icon>event_note</mat-icon>Rules</a></li>
      </ul>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <poker-navbar (SideNavToggled)="sideNav.toggle()"></poker-navbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
