.poker-logo {
  height: 20px;
  margin: 0 4px 3px 0;
  vertical-align: middle;
}

$sidenav-spacing-unit: 8px;
$sidenav-width: 240px;

.poker-sidenav {
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
  padding-bottom: 72px;
  width: $sidenav-width;
  bottom: 0;
  overflow: auto;
  height: 100%;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin: 0;
    padding: 0;

    // Hide the border on the last item
    &:last-child {
      border-color: transparent;
    }

    > a {
      box-sizing: border-box;
      display: block;
      font-size: 14px;
      font-weight: 400;
      line-height: ($sidenav-spacing-unit * 6) - 1;
      text-decoration: none;
      transition: all .3s;
      padding: 0 ($sidenav-spacing-unit * 2);
      position: relative;
      text-align: left;

      &.poker-sidenav-selected {
        font-weight: 600;
      }
    }
  }

  mat-icon {
    padding-bottom: 3px;
    padding-right: 10px;
  }
}
