// @import '../node_modules/@angular/material/theming';
// @import './app/navbar/navbar-theme.component';

// // Styles for the docs app that are based on the current theme.
// @mixin material-poker-app-theme($theme) {
//   $primary: map-get($theme, primary);
//   $accent: map-get($theme, accent);
//   $warn: map-get($theme, warn);
//   $background: map-get($theme, background);
//   $foreground: map-get($theme, foreground);

//   .poker-app-background {
//     background: mat-color($background, background);
//   }

//   .poker-primary-header {
//     background: mat-color($primary);

//     h1 {
//       color: mat-color($primary, default-contrast);
//     }
//   }

//   .poker-footer {
//     background: mat-color($primary);
//     color: mat-color($primary, default-contrast);
//   }

//   @include navbar-theme($theme);
// }


// define 3 theme color
// mat-palette accepts $palette-name, main, lighter and darker variants
//$poker-theme-primary: mat-palette($mat-indigo, 700, 300, 900);
$poker-theme-primary: mat-palette($mat-indigo);
$poker-theme-accent: mat-palette($mat-light-blue);
$poker-theme-warn: mat-palette($mat-deep-orange, A200);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$poker-theme: mat-light-theme(
    $poker-theme-primary,
    $poker-theme-accent,
    $poker-theme-warn
);