@{
    var appInsightsKey = System.Configuration.ConfigurationManager.AppSettings["AppInsightsKey"];
    var queryServiceUrl = System.Configuration.ConfigurationManager.AppSettings["QueryServiceUrl"];
    var commandServiceUrl = System.Configuration.ConfigurationManager.AppSettings["CommandServiceUrl"];
}

<!DOCTYPE html>
<html ng-app="poker">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poker League Manager</title>

    <style>
        /* This helps the ng-show/ng-hide animations start at the right place. */
        /* Since Angular has this but needs to load, this gives us the class early. */
        .ng-hide {
            display: none !important;
        }
    </style>

    <script type="text/javascript">
        var pokerConfig = {
            appInsightsKey: "@appInsightsKey",
            queryServiceUrl: "@queryServiceUrl", 
            commandServiceUrl: "@commandServiceUrl"
        }
    </script>
    }

    <!-- inject-vendor:css -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <!-- endinject -->
    <!-- inject:css -->
    <link href="/css/Site.css" rel="stylesheet" />
    <link href="/css/Spinner.css" rel="stylesheet" />
    <link href="/components/game/game.component.css" rel="stylesheet" />
    <link href="/components/gameList/gameList.component.css" rel="stylesheet" />
    <!-- endinject -->
</head>
<body>
    <poker-app></poker-app>

    <!-- inject-vendor:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/respond/dest/respond.src.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-component-router/angular_1_router.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/angular-applicationinsights/dist/angular-applicationinsights.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="/js/module.js"></script>
    <script src="/components/pokerApp/pokerApp.component.js"></script>
    <script src="/components/gameList/gameList.component.js"></script>
    <script src="/components/game/game.component.js"></script>
    <!-- endinject -->
</body>
</html>