.poker-navbar {
  display: flex;
  height: 56px;
  align-items: center;

  > .page-title {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 0px;
    padding-left: 20px;
  }

  > .mat-button {
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0px;
  }
}

.poker-navbar-medium {
  > .page-title {
    padding-left: 0px;
  }
}

.flex-spacer {
  flex-grow: 1;
}
